.content {
  @include main-grid;
  grid-template-rows: 80vh min-content 40vw repeat(2, min-content);
}
.hero {
  background-color: $color-secondary;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 80vh;
  color: #fff;

  .header {
    display: grid;
    grid-template-columns: minmax(min-content, max-content);
    grid-template-rows: 1fr min-content min-content 1fr min-content min-content;
    justify-content: center;
    align-content: center;
    padding: 6.4rem 3.2rem 6.4rem 6.4rem;
    gap: 1.6rem;
    background-image: linear-gradient(
        to right,
        rgba($color-secondary, 0.93),
        rgba($color-secondary, 0.93)
      ),
      url("../../img/hero.jpeg");

    background-size: cover;

    &__logo {
      justify-self: center;
      height: 3.2rem;
    }

    &__seenon-text {
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      gap: 1.2rem;
      align-items: center;
      color: $color-grey-light-2;
      &::before,
      &::after {
        content: "";
        display: inline-block;
        height: 1px;
        background-color: $color-grey-light-2;
      }
    }

    &__seenon-logos {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
      align-items: center;
      gap: 1.6rem;
      img {
        max-height: 2.5rem;
        max-width: 100%;
        filter: brightness(70%);
      }
    }
  }

  .realtors {
    display: grid;
    grid-template-columns: minmax(min-content, max-content);
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    gap: 2.4rem;
    align-content: center;
    justify-content: center;

    align-items: center;
    justify-items: center;
    padding: 6.4rem 6.4rem 6.4rem 3.2rem;

    &__list {
      display: grid;
      grid-template-columns: repeat(2, minmax(min-content, max-content));
      grid-template-rows: repeat(3, minmax(min-content, max-content));
      row-gap: 2.4rem;
      column-gap: 1.6rem;
      align-items: center;
    }

    &__picture {
      height: 6.4rem;
      width: 6.4rem;
      border-radius: 100px;
    }

    &__customers-qty {
      font-family: $font-primary;
      font-weight: 300;
      color: $color-grey-light-2;
      text-transform: uppercase;
      font-size: 1rem;
      letter-spacing: 0.05rem;
    }
  }
}

.features {
  background-color: #fff;
  // background-color: red;
  grid-column: 2 / -2;
  @include section-margin;

  &__container {
    list-style: none;
    display: grid;
    gap: 4.8rem;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    // max-width: calc(20rem * 3 + 6.4rem * 2);
    grid-template-rows: repeat(2, minmax(min-content, max-content));
  }

  &__item {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 2.4rem;
    row-gap: 1.2rem;
  }

  &__icon {
    height: 4.8rem;
    width: 4.8rem;
    fill: $color-primary-dark;
    grid-row: 1 / span 2;
    transform: translateY(-1rem);
  }

  &__text {
    font-size: 1.6rem;
  }
}

.cta {
  background-color: $color-grey-light-1;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  &__pictures {
    grid-column: 1;
  }
  &__story {
    grid-column: 2;
  }
}

.listings {
  background-color: #fff;
  padding: 2.4rem;
  grid-column: 2 / -2;
  &__item {
    background-color: $color-grey-light-1;
  }
}

.gallery {
  background-color: $color-grey-light-1;
  grid-column: 1/-1;
}

.footer {
  background-color: $color-secondary;
}
