.content {
  @include main-grid;
  grid-template-rows: 80vh min-content 40vw repeat(2, min-content);
}
.hero {
  background-color: $color-secondary;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 70% 30%;
  color: #fff;

  .header {
    grid-column: 1;
    display: grid;
    padding: 8rem;
    padding-top: 3.2rem;
  }

  .realtors {
    grid-column: 2;
    display: grid;
    padding: 8rem;
  }
}

.features {
  background-color: #fff;
  grid-column: 2 / -2;
}

.cta {
  background-color: $color-grey-light-1;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  &__pictures {
    grid-column: 1;
  }
  &__story {
    grid-column: 2;
  }
}

.listings {
  background-color: #fff;
  padding: 2.4rem;
  grid-column: 2 / -2;
  &__item {
    background-color: $color-grey-light-1;
  }
}

.gallery {
  background-color: $color-grey-light-1;
  grid-column: 1/-1;
}

.footer {
  background-color: $color-secondary;
}
