*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  overflow: inherit;
  font-size: 3rem;
  font-family: sans-serif;
}

.container {
  display: grid;
  padding: 3.2rem;
  color: white;
  gap: 3.2rem;
  grid-template-columns: repeat(3, 1fr) 15rem;
  grid-template-rows: 10rem 20rem 40rem 10rem;

  // Select all child elements
  & > * {
    background-color: red;
    padding: 3.2rem;
  }
}
