body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  font-size: 1.4rem;
}

/* 
***********************************************
Global Resets
*********************************************** 
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  overflow: inherit;
}

.content {
  display: grid;
  grid-template-columns: 3.2rem repeat(8, 1fr) 3.2rem;
  grid-template-rows: 80vh min-content 40vw repeat(2, min-content);
}

.hero {
  background-color: #101d2c;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 70% 30%;
}
.hero .header {
  grid-column: 1;
}
.hero .realtors {
  grid-column: 2;
}

.features {
  background-color: #fff;
}

.cta {
  background-color: #f9f7f6;
}

.listings {
  background-color: #fff;
  padding: 2.4rem;
}
.listings__item {
  background-color: #f9f7f6;
}

.gallery {
  background-color: #f9f7f6;
}

.footer {
  background-color: #101d2c;
}

.footer {
  display: grid;
  grid-template-columns: 3.2rem repeat(8, 1fr) 3.2rem;
}

.navbar {
  background-color: #c69963;
  grid-row: 1/-1;
}

.main-container {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: 6.4rem 1fr;
  gap: 0.4rem;
}