*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  overflow: inherit;
  font-size: 3rem;
  font-family: sans-serif;
}

.container {
  width: 90%;
  height: 90vh;
  margin: 3.2rem auto;
  background: #ddd;
  display: grid;
  // grid-template-rows: repeat(2, 150px);

  // The grid-template-columns: max-content property in CSS Grid is used to define the width of columns based on the largest width of their content. This means that each column will be just wide enough to fit its largest item without overflowing.
  grid-template-columns: max-content 1fr max-content;

  // The 'min-content' value sets each column width to be as narrow as possible while still fitting its smallest content. This ensures that the columns will not be wider than necessary, optimizing space based on the smallest content size in each column.
  grid-template-columns: min-content 1fr 1fr;

  /* The 4th item does not fit its grid cell and overflows. 
   This happens because:
   - `grid-template-columns: min-content 1fr 1fr;` specifies that the first column is only wide enough to fit its content (widest single word in this case). It doesn't specifiy the height of the row.
*/

  /* Mitigating the Issue with `grid-template-rows: repeat(2, min-content);` */

  /* 
   Changing the rows definition to `grid-template-rows: repeat(2, min-content);` addresses the issue by:
   - Adjusting the height of each row to fit the content within it. 
   - `min-content` ensures that each row's height is just enough to fit the tallest content in that row.
   - For example, if the 4th item has a lot of content, `min-content` ensures that the row's height adjusts to fit all the content without causing overflow.
*/

  // grid-template-rows: repeat(2, min-content);

  /* 
    CSS grid minmax() Function

    The minmax() function in CSS Grid allows you to define a grid track (column or row) that has a flexible size range. This function is particularly useful for creating responsive designs that adapt to different screen sizes while maintaining a desired minimum and maximum size for your grid tracks.

    Syntax:
    grid-template-columns: minmax(minimum, maximum);

    - minimum: The smallest size the grid track can shrink to.
    - maximum: The largest size the grid track can grow to.
  */

  grid-template-columns: minmax(15rem, 40rem) repeat(3, 1fr);

  /*
    When you use the 1fr unit in CSS Grid, the minmax() function is implicitly applied to determine the minimum and maximum size of the grid track. The default behavior of the 1fr unit can be understood as:

    grid-template-columns: minmax(auto, 1fr);

    Default Behavior of 1fr:
      - Minimum Size (auto): The grid track will shrink down to fit the content inside it if necessary, without shrinking smaller than the content (similar to min-content).
      - Maximum Size (1fr): The grid track can grow to take up a proportional amount of the remaining available space in the grid container.
  */

  grid-template-columns: minmax(20rem, 50%) repeat(2, 1fr);
  gap: 1.2rem;

  // auto-fill & auto-fit values of grid properties.
  grid-template-columns: repeat(auto-fill, 10rem);
  grid-template-columns: repeat(auto-fit, 10rem);

  grid-template-columns: repeat(
    auto-fit,
    minmax(15rem, 1fr)
  ); // If all columns become smaller than 150px, it creates a new cell in the next row and removes a column. if there is more than 150px of spare space, it creates a new column and moves a new item to the previous row.

  grid-auto-rows: 1fr;
}

.item {
  &--1 {
    background-color: orangered;
  }
  &--2 {
    background-color: yellowgreen;
  }
  &--3 {
    background-color: blueviolet;
  }
  &--4 {
    background-color: palevioletred;
  }
  &--5 {
    background-color: royalblue;
  }
  &--6 {
    background-color: goldenrod;
  }
  &--7 {
    background-color: crimson;
  }
  &--8 {
    background-color: darkslategray;
  }
}
